@import '~pc-nrfconnect-shared/styles';

.toast {
    &-container {
        background-color: $nordic-blue;
        color: white;
        border: 1px solid $nordic-blue;
        border-radius: 0;
    }

    &-label {
        font-weight: 700;
        margin-right: 4px;
    }
}
