@import '~pc-nrfconnect-shared/styles';

.dropdown {
    &-label {
        font-size: 10px;
    }

    &-container {
        position: relative;
        width: 100%;
    }

    &-btn {
        width: 100%;
        height: 32px;
        padding: 0 8px;
        background: $gray-700;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: none;
    }

    &-btn-active img {
        transform: rotate(180deg);
    }

    &-content {
        background: $gray-700;
        color: $white;
        position: absolute;
        width: 100%;
        top: 32px;
        right: 0;
        padding: 0;
        border-top: solid 2px $gray-600;
        z-index: 1;
    }

    &-active img {
        transform: rotate(90deg);
    }

    &-inactive {
        display: none;
    }

    &-item {
        color: $white;
        padding: 4px 8px;
        height: 24px;
    }

    &-btn:hover,
    &-btn:focus,
    &-item:hover,
    &-item:focus {
        background: $gray-600;
    }
}
