@import '~pc-nrfconnect-shared/styles';

.side-panel {
    margin: 1rem 0;

    .btn-set {
        color: $gray-700;
        background-color: $white;
        border-color: $gray-700;
    }
    .btn-unset {
        color: $white;
        background-color: $gray-700;
        border-color: $gray-700;
    }

    .trace-selector {
        padding: 4px;
        background-color: $gray-700;

        button {
            padding: 4px;
            border-radius: 4px !important;
            text-transform: uppercase;
        }
        .btn:disabled {
            opacity: initial;
        }
    }

    .filepath-container {
        margin-top: 16px;
    }

    .filepath-link {
        text-align: left;
        color: white;
        padding: 0;
        background-color: $gray-700;
        color: white;
        padding: 5px 8px;
        font-size: 12px;
        width: 100%;
    }

    .trace-file-name {
        margin-top: 8px;
        font-style: italic;
    }

    .trace-file-size {
        margin-top: 16px;
        font-size: 14px;
    }

    .start-stop {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;

        img {
            height: 20px;
            width: 20px;
            margin-right: 8px;
        }
    }

    .disk-space-container {
        font-size: 12px;
        margin-top: 16px;
    }

    .serialport-select {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0;
        }

        input {
            margin-right: 8px;
        }
    }

    .db-btn-group {
        display: flex;
        margin-bottom: 0;

        button {
            flex: 1;
        }
    }

    .db-help-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            margin-bottom: 0;
        }

        img {
            height: 18px;
            width: 18px;
        }
    }

    .btn.active-animation {
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            background: $gray-700;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            animation: snake 4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }
    }

    @keyframes snake {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(100%);
        }
    }
}
