#root {
  max-width: 1280px;
  width: 1280px;
  margin: 0 auto;
}

.code {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.events-dashboard {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
}

.events {
  justify-self: flex-end;
}