.point-tooltip {
    position: absolute;
    top: -100px;
    word-break: break-all;
    background: white;
    border: 1px solid #ccc;
    padding: 4px;
    min-width: 200px;
    transform: translateX(-50%);
    overflow: hidden;
}